<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-4">
      <h1 class="font-weight-light"> <%= @professor.name %> </h1>
          <hr class="my-4">




<h3> College: <%=  %></h3>
<ul>
<% @professor.colleges.each do |college| %>
  <li><%= link_to college.name, college_path(college) %></li>
<% end %>
</ul>
<h3> Subject: <%= @professor.subject %></h3>

<hr class="my-4">

<h3> Students: </h3>

<ul>
  <h2><% Student.joins(:courses).where(courses: {professor_id: @professor.id}).each do |student| %></h2>
    <li><%= "#{student.name}" %></li>
  <% end%>
</ul>

<hr class="my-4">
<h3> Courses:  </h3>

<ul>
<% @professor.courses.each do |course| %>
  <li><%= link_to course.name, course_path(course) %></li>
<% end %>
</ul>
</div>
      </div>
    </div>