<%= render partial: "shared/error_form", locals: {new_object: @student} %>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          <h3 class="card-title text-center">Create student account</h3>
          <hr class="my-4">
<%= form_for @student do |f| %>
  <div class="form-group">
  <%= f.label :name %>:
  <%= f.text_field :name, class: "form-control" %><br>
  <%= f.label :major %>:
  <%= f.text_field :major, class: "form-control" %><br>
  <%= f.label :username %>:
  <%= f.text_field :username, class: "form-control" %><br>
  <%= f.label :password %>:
  <%= f.password_field :password, class: "form-control" %><br>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation, class: "form-control" %><br>
  <%= f.submit "create account", class: "btn btn-primary"  %>
  </div>
<% end %>
</div>
        </div>
      </div>
    </div>




