<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-4">
      <h1 class="font-weight-light"> <%= @student.name %> </h1>
          <hr class="my-4">



<h3> Major: <%= @student.major %> </h3>


<h3>Courses:</h3>
<h4>
<ul>

<% @student.courses.each do |course| %>
  <li><%= link_to course.name, course_path(course) %> - Credits: <%= course.credit %> - Professor: <%= link_to course.professor.name, professor_path %> </li>
<% end %>


</ul>
</h4>


<h4>Total Credits: <%= Course.joins(:students).where({students: {id: @student.id}}).sum(:credit)%></h4>
</div>
      </div>
    </div>