<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-4">
      <h1 class="font-weight-light"> <%= @course.name %> </h1>
      <% unless params[:controller] == "sessions" &&  params[:action] == "login" %>

  <% if s_logged_in? %>
        
        <% current_user.registrations.find do |registration| %>
          <% if registration.course.name == @course.name %>
          <%= link_to "Drop this course", registration_path(registration), method: :delete  %>
          <% end %>
          <% end %>
          
  <% end %>

<% end %>


<% if p_logged_in? && @course.professor.name == current_user.name %>
  <%= link_to "Edit course", edit_course_path(@course) %><br>
  <%= link_to "Delete course", course_path(@course), method: :delete %>
<% end %>
<hr class="my-4">
<h3>
Description: <%= @course.description %><br>
Setting: <%= @course.setting %><br>
Semester: <%= @course.semester %><br>
Credit: <%= @course.credit %><br>
Professor: <%= @course.professor.name %>
</h3>

<% unless params[:controller] == "sessions" &&  params[:action] == "login" %>

<% if p_logged_in? %>
<h2>Registered Students: </h2>
<ul>
  <h2><% Student.joins(:courses).where(courses: {name: @course.name}).each do |student| %></h2>
    <li><%= link_to "#{student.name}", student_path(student) %></li>
  <% end %>

</ul>
<% end %>
<% end %>


</div>
      </div>
    </div>