<h1>Student Login</h1>

<div class="error"><%= flash[:login_error] %></div>

<%= form_tag login_student_path do %>
  <%=label_tag :username %>
  <%= text_field_tag :username %>
  <%=label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>

<%= link_to "Back to login page", login_path %>